$stem-width: 5rem;

.arrowPart {
	display: block;
	background: $black;
	position: absolute;
	transition: 300ms ease-out;
	height: 0.15rem;
	top: 0;
	bottom: 0;
	margin: auto;
}

.stem {
	composes: arrowPart;
	width: $stem-width;
	transform: translateY(2%);
}

.blade {
	composes: arrowPart;
	width: 1.2rem;
}

.firstBlade {
	composes: blade;
	transform-origin: bottom left;
	transform: scale(0) rotate(-45deg) translateY(0);
}

.lastBlade {
	composes: blade;
	transform-origin: top left;
	transform: scale(0) rotate(45deg) translateY(0);
}

.wrapper {
	position: relative;
	z-index: 3;
	// align-self: flex-end;
	margin-top: auto;
	// background: $white;
}

.arrow {
	position: relative;
	width: $stem-width + $gutter;
}

.previousArrow {
	composes: arrow;
	float: left;
}

.nextArrow {
	composes: arrow;
	transform: rotate(180deg);
	float: right;
}

.title {
	font-weight: normal;
	color: $black;
	line-height: 1;
	padding: 0;
	margin: 0;
}

.link {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&:hover {
		.firstBlade {
			transform: scale(1) rotate(-45deg) translateY(1px);
		}
		.lastBlade {
			transform: scale(1) rotate(45deg) translateY(-1px);
		}
	}
}

.previousLink {
	composes: link;
	justify-content: flex-start;
}

.nextLink {
	composes: link;
}

.previousTitle {
	composes: title;
	float: left;

}
.nextTitle {
	composes: title;
	float: right;
}


@media(max-width: $screen-md - 1) {
	.title {
		font-size: 0.7em;
	}

	.stem {
		width: 3rem;
	}

	.blade {
		width: 1rem;
	}

	.arrowPart {
		height: 0.1rem;
	}

	.arrow {
		width: 3rem + $gutter / 2;
	}

	.firstBlade {
		transform: scale(1) rotate(-45deg) translateY(1px);
	}
	.lastBlade {
		transform: scale(1) rotate(45deg) translateY(-1px);
	}
}
