.wrapper {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
	a {
		color: $third-color;
		text-decoration: underline;
	}
}

.title {
	color: $third-color;
}

.preamble {
	font-size: 1.6em;
	padding: 0;
}

.error {
	color: $light-grey;
	font-size: 15rem;
	line-height: 1;
	span {
		height: 1em;
	}
}

.grid {
	display: block;
	@media (min-width: $screen-md) {
		display: flex;
	}
}