@keyframes reveal {
	0% { transform: translate3d(0%, 0, 0) }
	40% { transform: translate3d(100%, 0, 0) }
	60% { transform: translate3d(100%, 0, 0) }
	100% { transform: translate3d(200%, 0, 0) }
}
.viewTransition {
	background: $third-color;
	position: fixed;
	min-width: 100vw;
	height: 100vh;
	z-index: 99999;
	top: 0; right: auto; bottom: 0; left: -100vw;
	transform: translate3d(150%, 0, 0);
	transition: all 350ms;
	transition-timing-function: $custom-ease;
}
.viewTransition:nth-child(2) {
	transition-delay: 100ms;
	background: $third-color * 0.8;
	z-index: 99998;
}
.active {
	composes: viewTransition;
	animation: reveal 700ms;
}
.cover {
	composes: viewTransition;
	transform: translate3d(100%, 0, 0);
	transition: 0;
}
.idle {
	composes: viewTransition;
	transition: 0ms;
	visibility: hidden;
	transform: translate3d(0%, 0, 0);
}
.enter {
	composes: viewTransition;
	transform: translate3d(100%, 0, 0);
}
.leave {
	composes: viewTransition;
	transform: translate3d(200%, 0, 0);
}