.wrapper {
	// height: calc(100vh - #{$menu-height});
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: $third-color;
	z-index: 1;
	flex-direction: column;
}

.lowWrapper {
	composes: wrapper;
	height: 65vh;
}

// .arrow {
// 	height: 1rem;
// 	transform: translateY(-1rem) rotate(90deg);
// 	margin: 0;
// 	margin-left: $gutter * 2;
// }

.bottomContainer {
	display: flex;
	align-items: flex-end;
	padding-bottom: $gutter;
}

.arrowContainer {
	composes: bottomContainer;
	// flex-direction: column;
	justify-content: flex-end;
	margin-left: $gutter !important;
	flex-grow: 0;
	position: relative;
}

.bottomRow {
	position: absolute;
	bottom: 0; right: 0; left: 0;
	height: 7rem;
	color: $white;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	
}

.contactIcon {
	font-size: 0.8em;
	opacity: 0.9;
	svg {
		width: 1.2rem;
		margin-right: 0.5rem;
	}
}

.phone {
 composes: contactIcon;
}

.mail {
 composes: contactIcon;
}

.contectInfo {
	composes: bottomContainer;
	font-size: 0.9em;
	a {
		color: $white;
	}
	p {
		padding-bottom: 0;
	}
	// @media (min-width: $screen-sm) {
		justify-content: flex-end;
		flex-direction: column;
		padding-right: $gutter * 3;
		text-align: right;
	// }
}

.backgroundImage {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	// transition: opacity 200ms;
	opacity: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
}

.lowWrapper .backgroundImage{
	height: 65vh;
}

.loaded {
	composes: backgroundImage;
	opacity: 1;
	z-index: 10;
}

.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	background-position: center center;
	filter: blur(7px);
	// transition: filter 500ms;
	
	// background: $third-color;

	// img {
	// 	height: 100vh;
	// 	width: 100%;
	// 	object-fit: cover;
	// }
}

.sharp {
	composes: background;
	filter: none;
}

.lowWrapper .background {
	bottom: 35vh;
}

.content {
	color: white;

	p {
		opacity: 0.7;
	}
	@media (min-width: $screen-sm) {
		margin-left: 15vw;
	}
	@media (min-width: $screen-md) {
		margin-left: 20rem;
		column-count: 2;
	}
}

.container {
	position: relative;
	z-index: 3;
	margin: auto auto;
	padding: 0 $gutter;
	max-width: 65rem;

	@media (min-width: $screen-sm) {
		padding: 0 $gutter * 2;
	}
	
	@media (min-width: $screen-md) {
		max-width: 90rem;
	}
}

.titleContainer {
	z-index: 3;
	position: relative;
	color: $white;
	width: 100%;
	max-width: 72rem;

	@media(min-width: $screen-sm) {
		margin-bottom: $gutter;
	}
	@media(min-width: $screen-md) {
		margin-bottom: $gutter * 2;
	}

	h1 {
		line-height: 1;
		font-size: 3.3rem;
		@media(min-width: $screen-sm) {
			font-size: 5rem;
		}
		@media(min-width: $screen-md) {
			font-size: 7rem;
		}
	}
}