.text {
  color: $white;
  font-size: 0.6em;
  text-transform: uppercase;
  padding-bottom: 0;
}
.mouse {
  width: 1.9rem;
  height: 3.3rem;
  position: absolute;
  left: 50%;
  margin: auto;
  top: 0;
  transform: translateY(-20%) translateX(-50%);
  border: 1px solid $white;
  border-radius: 25px;
}
.mouse:before {
  position: absolute;
  left: 50%;
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  background: #fff;
  margin-left: -.2rem;
  top: 1rem;
  border-radius: 50%;
  animation-name: scroll;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}