.projects {
	position: relative;
	z-index: 3;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	order: 2;
}

.wrapper {
	position: relative;
}

.dateContainer {
	overflow: hidden;
	font-size: 0.8em;
	margin-bottom: 1em;
	margin-top: $gutter * 2;
	// color: $secondary-color;
	@media(min-width: $screen-md) {
		margin-top: 0;
	}
}

.button {
	display: none;
	background: $third-color;
	width: 7rem;
	height: 6rem;
	// display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) !important;
	z-index: 4;
	transition: 800ms;
	transition-delay: 500ms;
	clip: rect(0px,0px,200px,0px);

	a {
		height: 100%;
		width: 100%;
		display: flex;
		color: $white;
		align-items: center;
		justify-content: center;
	}
}

.visibleButton {
	composes: button;
	clip: rect(0px,100px,200px,0px);
}

.arrow {
	fill: $white;
	width: 2.5rem;

}

.date {
	padding-bottom: 0;
	float: left;
	padding-left: .7em;
	text-transform: uppercase;
	// font-weight: normal;
}

.dateIcon {	
	max-width: 1em;
	height: auto;
	float: left;
	// fill: $secondary-color;
}


.image {
	order: 1;
	overflow: hidden;
	position: relative;

	figure {
		padding-bottom: 0;
		margin: 0;
		display: block;
		overflow: hidden;

		@media(min-width: $screen-sm) {
			// position: relative;
			// top: 50%;
			// transform: translateY(-50%);
		}
	}
}

.title {
	margin-bottom: .3em;
	line-height: 1.2;
	font-size: 2.2em;
	a {
		color: $third-color;
	}
}

@media(min-width: $screen-md) {
	.textContent {
		// max-width: 90rem;
		// padding: 0 $gutter * 5;
		// width: auto;
	}

	.title {
		max-width: 25rem;
		overflow: visible;
		// padding-left: 10%;
	}

	.textWrapper {
		// font-size: 0.9em;
		padding: 0 15%;
		padding-right: 0;
		color: $text-muted;
		max-width: 25rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		// margin-left: 0;
		// margin-right: -$gutter;
	}

	.button {
		display: flex;
	}

	.image {
		// margin-left: 0;
		margin-right: -$gutter * 2;
	}

	.wrapper:nth-child(2) {
		.content {
			order: 1;
			margin-right: 0;
			margin-left: -$gutter;
		}

		.image {
			margin-left: -$gutter * 2;
			margin-right: -$gutter;
			order: 2;
		}
	}
}