$thumb-border-color: transparent;
$thumb-shadow-size: 0px;
$thumb-shadow-blur: 0px;
$track-border-color: transparent;
$track-shadow-size: 0px;
$track-shadow-blur: 0px;
$thumb-color: $primary-color;
$track-color: $primary-color;
$thumb-height: 27px;
$thumb-width: 27px;
$thumb-radius: 50%;
$track-height: 4px