// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

.content-box {
	padding: $top-gutter / 2 $gutter;
	@media(min-width: $screen-md) {
		padding: $top-gutter $gutter * 2;
	}
	@media(min-width: $screen-xl) {
		padding: $top-gutter $gutter * 4;
	}
}

.section {
	// padding: $gutter 0;

	@media(min-width: $screen-md) {
		padding: $gutter * 2 0;
	}
	// &:nth-child(2) {
	// 	padding-top: $gutter * 4;
	// }
}

.align-middle {
	display: flex;
	align-items: center;
}

.fade-enter {
  opacity: 0.01;
  position: absolute;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  position: absolute;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}