.title {
	font-size: 10vw;
	line-height: 1.25;
	@media(min-width: $screen-sm) {
		font-size: 7rem;
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

p {
	font-size: 0.9em;
}