$white: #fff;
$black: #333333;
$almost-white: #EDEDED;
$primary-color: #112536;
// $secondary-color: #ffa88c;
$secondary-color: #FEBB00;
$third-color: #112536;
$grey: #494949;
$light-grey: #EDEDED;
$text-muted: #717171;
$error: #F66063;
$custom-ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);

$gutter: 2rem;
$top-gutter: 4.8rem;
$line-height: 1.5;

$primary: $primary-color;

$heading-font: 'Roboto', 'Avenir Next','Helvetica Neue', 'Verdana', sans-serif !default;
$base-font: 'Roboto', 'Avenir Next','Helvetica Neue', 'Verdana', sans-serif;


$fa-font-path: '../fonts';

@import './cutestrap/variables/sizes';
$menu-height: 5rem;