// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Roboto Light'), local('Roboto-Light'),
//        url('/static/fonts/roboto/roboto-v16-latin-300.woff2') format('woff2'),
//        url('/static/fonts/roboto/roboto-v16-latin-300.woff') format('woff');
// }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/static/fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-v16-latin-regular.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/static/fonts/roboto/roboto-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/roboto/roboto-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// /* roboto-900 - latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 900;
//   src: local('Roboto Black'), local('Roboto-Black'),
//        url('/static/fonts/roboto-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('/static/fonts/roboto-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }