@keyframes reveal {
	0% { transform: translate3d(-100%, 0, 0) translate3d(1rem, 0, 0) scaleY(0) }
	20% { transform: translate3d(-100%, 0, 0) translate3d(1rem, 0, 0) scaleY(1) }
	60% { transform: translate3d(0%, 0, 0) }
	70% { transform: translate3d(0%, 0, 0) }
	100% { transform: translate3d(100%, 0, 0) }
}

.slideContainer {
	position: relative;
	overflow: hidden;

	:global(.js) & {
		&:after, &:before {
			content: " ";
			display: block;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background-color: $third-color * 0.8;
			z-index: 2;
			transition: 500ms;
			transform: translate3d(-100%, 0, 0) translate3d(1rem, 0, 0) scaleY(0);
			transform-origin: top left;
		}

		&:after {
			z-index: 1;
			transform: translate3d(0%, 0, 0);
			background-color: $light-grey;
		}
	}
}

.fadeContainer {
	opacity: 1;
	// position: relative;
	:global(.js) & {
		opacity: 0;
		transform: translate3d(0, 2rem, 0);
		transition: 700ms;
	}
}

.noJSImage {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.image {
	position: absolute;
	top: 0;
	// transform: translate3d(-20rem, 0, 0);
	// transition: 800ms;
	// transition-timing-function: $custom-ease;
	// transition-delay: 0.6s;
}

.slide {
	composes: slideContainer;
	// .image {
	// 	transform: translate3d(0, 0, 0);
	// }
	:global(.js) & {
		&:before {
			transform: translate3d(100%, 0, 0);
			animation: reveal 1.4s;
		}

		&:after {
			transition-delay: 700ms;
			transform: translate3d(100%, 0, 0);
		}
	}
}

.fade {
	composes: fadeContainer;
	:global(.js) & {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}