.wrapper {

}

.service {
	padding: $gutter * 4 $gutter * 2;
	background-color: #132A3F;
	color: $white;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	&:first-child {
		background-color: #112536;
	}
	&:last-child {
		background-color: #1F4262;
	}
}

.content {
	max-width: 40rem;
	flex-direction: column;
	align-items: center;
	display: flex;

	p {
		opacity: 0.7;
	}
}

.icon {
	margin: 0 auto;
	display: block;
	fill: $secondary-color;
	overflow: hidden;

	:global(.no-js) & {
		position: relative;
		width: 5rem;
		height: 5rem;
	}
}