/*

Grid

Basic grid made using flexbox. By default, the grid is collapsed on small screens.

Markup:
<main class="grid {{modifier_class}}">
  <section class="">
    Cell 1
  </section>
  <article class="grid">
    Cell 2
  </article>
</main>

.grid--medium           - Grid starts at medium sized screens
.grid--large            - Grid starts at large and up screens

Styleguide 1.0

*/

/*

Direct children of `.grid` are columns.

Markup:
<main class="grid">
  <section class="{{modifier_class}}">
    Cell 1
  </section>
  <article class="grid">
    <p class="grid {{modifier_class}}">
      Cell 2.1
    </p>
    <div>
      <p>Cell 2.2</p>
    </div>
  </article>
</main>

.column--light           - Less important column
.column--heavy           - More important column

Styleguide 1.1

*/

// rows
.grid{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


// columns
.grid > *{
  flex: 1;
  flex-grow: 4;
  padding-left: $gutter;
  padding-right: $gutter;

  &:first-child{
    margin-left: -$gutter;
  }

  &:last-child{
    margin-right: -$gutter;
  }

  &.column--light{
    flex-grow: 2;
  }

  &.column--no-grow {
    flex-grow: 0;
  }

  &.column--heavy{
    flex-grow: 8;
  }
}

.grid--tight > *{
  $new-gutter: $gutter / 2;
  padding-left: $new-gutter;
  padding-right: $new-gutter;

  &:first-child{
    margin-left: -$new-gutter;
  }

  &:last-child{
    margin-right: -$new-gutter;
  }
}

@media (max-width: $screen-md - 1){
  .grid--medium{
    display: block;
  }

  .grid--medium > *{
    padding-left: 0;
    padding-right: 0;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

@media (max-width: $screen-lg - 1){
  .grid--large{
    display: block;
  }

  .grid--large > *{
    padding-left: 0;
    padding-right: 0;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

.wrapper, .wrapper--small {
  margin: 0 auto;
  padding: $top-gutter $gutter;
}

.wrapper {
  @media(min-width: $screen-sm) {
    max-width: $wrapper-sm;
  }
  @media(min-width: $screen-md) {
    max-width: $wrapper-md;
  }
  @media(min-width: $screen-lg) {
    max-width: $wrapper-lg;
  }
  @media(min-width: $screen-xl) {
    max-width: $wrapper-xl;
  }
}

.wrapper--small {
  @media(min-width: $screen-md) {
    max-width: $wrapper-md;
  }
}