.content {
	h2 {
		font-size: 1.2rem;
		line-height: 1.2;
		padding: 0;
		padding-bottom: 0.5em;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		color: $third-color * 1.9;
	}

	h3 {
		font-size: 3rem;
		line-height: 1.2;
		padding-bottom: 0.5em;
		color: #132A3F;
	}

	pre {
		font-size: 1.8rem;
		white-space: initial;
		text-align: center;
		color: $black;
		opacity: 0.6;
	}

	p {
		max-width: 60rem;
		margin: 0 auto;
	}

	@media(min-width: $screen-sm) {

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 4.3rem;
		}
	}
}