.footer {
	background-color: $third-color * 0.8;
	z-index: 10;
	position: relative;
	color: transparentize($white, 0.5);
	margin-top: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.85em;
	display: flex;
	figure {
		padding: 0;
		margin-left: 0;
		img {
			width: 10rem;
			margin-left: 0;
			@media (min-width: $screen-md) {
				margin-left: $gutter;
			}
		}
	}
	a {
		text-transform: lowercase;
		color: $light-grey;
		opacity: 0.7;
	}
	small {
		display: block;
	}
}
.contactInfo {
	display: block;
	margin-top: $gutter / 2;
	font-size: 0.8em;
	p {
		padding: 0;
	}
	text-align: right;
	margin: 0;
	@media (min-width: $screen-md) {
		p {
			margin-right: $gutter;
		}
	}
}
.grid {
	justify-content: space-between;
	align-items: center;
	display: block;
	padding: 0 $gutter;
	text-align: right;
	display: flex;
}
.wrapper {
	width: 100%;
	padding: $gutter 0;
}