.menu {
	height: $menu-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	overflow: visible;
	z-index: 99;
	// transform: translateZ(2px);


	@media(min-width: $screen-md) {
		// overflow: auto;
		background: transparent;
		position: absolute;
		display: flex;
		align-items: center;
	}
}

.wrapper {
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: center;

	background: $white;
	position: fixed;
	top: 0;

	@media(min-width: $screen-md) {
		width: 100%;
		background: transparent;
		// position: absolute;
		position: relative;
		justify-content: space-between;
		// padding: 0 $gutter;
		bottom: auto;
	}
}

.links {
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	transition: 500ms;
	z-index: 10;
	background: $white;

	@media(min-width: $screen-md) {
		background: transparent;
		// display: block;
		flex-direction: row;
		// padding-left: $gutter;
		// height: 100%;
		height: $menu-height;
		position: relative;
		visibility: visible;
		opacity: 1;
	}
}

a.link {
	background: $white;
	color: $black;
	font-weight: bold;
	text-transform: uppercase;
	transition: color 300ms;
	font-size: 7vw;

	&:hover {
		color: $secondary-color;
	}

	@media(min-width: $screen-md) {
		line-height: 1;
		padding: $gutter $gutter;
		font-size: 0.7em;
		// background: transparent;
		// padding-left: $gutter;
	}
}

// .logoLink {
// 	overflow: hidden;
// 	display: block;
// }

.logo {
	// max-width: 8rem;
	// position: absolute;
	// top: $gutter * 0.75;
	// left: $gutter;
	// z-index: 12;

	// @media(min-width: $screen-sm) {
	// 	max-width: 11rem;
	// 	height: $menu-height;
	// 	display: block;
	// 	position: relative;
	// 	top: 0.3rem;
	// 	left: $gutter * 2;
	// }
	background-image: url('/static/images/logo_dark.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: $menu-height - $gutter;
	width: 10rem;
	position: relative;
	top: $gutter / 2;
	left: $gutter;
	z-index: 12;

	@media(min-width: $screen-md) {
		background-image: url('/static/images/logo_light.svg');
		height: $menu-height;
		// top: 0.3rem;
		left: $gutter * 2;
	}
}

.dark {
	composes: logo;
	background-image: url('/static/images/logo_dark.svg');
}

.logoLarge {
	// composes: logo;
	// display: none;

	@media(min-width: $screen-md) {
		height: $menu-height;
		display: block;
		position: relative;
		top: 0.3rem;
		left: $gutter * 2;
	}
}

.trigger {
	width: 4rem;
	float: right;
	position: absolute;
	top: $menu-height / 2;
	right: $gutter;
	transform: translateY(-50%);
	z-index: 11;

	@media(min-width: $screen-md) {
		display: none;
	}
}

.bar {
	width: 4rem;
	height: 2px;
	margin: 6px 0;
	background-color: $black;
	display: block;
	transition: 300ms;
}

.input {
	visibility: hidden;
	height: 0;
	position: absolute;

	&:checked {
		~ .trigger .bar {
			transform-origin: center center;
			background-color: $black;

			&:nth-child(1) {
				transform: translateY(8px) rotate(225deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-8px) rotate(-225deg);
			}
		}

		~ .wrapper .links {
			visibility: visible;
			opacity: 1;
		}
	}
}