.projectWrapper {
	padding-top: $gutter;
	align-items: center;
	background: $white;
	@media ($screen-md) {
		display: flex;
	}
}
.wrapper {
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
}
.date {
	color: $third-color !important;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 1rem;
	font-size: 0.8em;
}
.readMore {
	text-transform: uppercase;
	font-size: 0.7em;
	color: $third-color;
	float: left;
	font-weight: bold;
	padding: 0;
	padding-right: $gutter / 2;
}
.readMoreContainer {
	display: flex;
	align-items: center;
	padding-bottom: $gutter;
}
.arrow {
	margin: 0;
	float: left;
	width: 2rem;
}
.projectTitle {
	color: $black;
	padding: 0;
	font-size: 2.3rem;
}
.projectDescription {
	color: $black;
}
.dateIcon {	
	max-width: 0.8em;
	width: 0.8em;
	height: auto;
	float: left;
	margin-right: 0.5rem;
}