.wrapper {
	padding-top: $gutter;
	padding-bottom: $gutter;

	&:last-child {
		padding-bottom: $gutter * 2;
	}

	figure {
		padding-bottom: $gutter * 2;
		@media (min-width: $screen-md) {
			padding-bottom: 0;
			// padding-bottom: $gutter;
		}
	}
}

.lastImage {
	figure {
		padding-bottom: 0;
	}
}

// .wrapper:last-child {
// 	.lastImage {
// 		figure {
// 			padding-bottom: 0;
// 		}
// 	}
// }