.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $gutter 0;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	color: $third-color;
}