.wrapper {
}

.titleContainer {
    text-align: center;
}

.title {
    color: $third-color;
    font-size: 3rem;
    padding-bottom: 0.5em;
    line-height: 1.1em;

	@media(min-width: $screen-sm) {
		font-size: 4.3rem;
	}
}

.preTitle {
    color: rgba(0,0,0,0.3);
    font-weight: 700;
}

.subTitle, .preTitle {
    letter-spacing: 2px;
    font-size: 0.8em;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
    padding-top: 1.8rem;
    color: $third-color;

    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.link {
    color: $third-color !important;

    &:visited {
        color: $third-color;
    }
}