.wrapper {
	background: $light-grey;
}

.errorWrapper {
	display: flex !important;
	align-items: center;
	position: relative;
	z-index: 3;
	a {
		color: $third-color;
		text-decoration: underline;
	}
}