$gutter: 2rem !default;
$top-gutter: 4.8rem !default;

$wrapper-sm: 550px !default;
$wrapper-md: 800px !default;
$wrapper-lg: 1000px !default;
$wrapper-xl: 1350px !default;

$screen-sm: $wrapper-sm + 50px !default;
$screen-md: $wrapper-md + 50px !default;
$screen-lg: $wrapper-lg + 100px !default;
$screen-xl: $wrapper-xl + 100px !default;
