// Font based variables
//
// Styleguide

$base-font: 'Avenir Next','Helvetica Neue', 'Verdana', sans-serif !default;
$heading-font: 'Avenir Next','Helvetica Neue', 'Verdana', sans-serif !default;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace !default;

$heading:         $heading-font !default;
$body:            $base-font !default;
$monospace:       $monospace-font !default;

$heading-weight: 700 !default;
$body-weight: 300 !default;

$font-size: 1.6rem !default;
$line-height: 2.4rem !default;

$font-size--small: 1.2rem !default;
$font-size--large: 2rem !default;
