.button {
	background-color: $secondary-color;
	padding: 1rem 2.5rem;
	border-radius: 3px;
	color: $white !important;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	transition: background-color 300ms;
	// line-height: 1;
	&:hover {
		background: $secondary-color * 0.9;
	}
}

.noFill {
	color: $secondary-color !important;
	text-transform: uppercase;
	align-items: center;
	font-weight: bold;
	font-size: 0.8em;
}

.arrow {
	fill: $white;
	width: 2.2rem;
	margin-left: 1em;
}