.wrapper {
	background: $light-grey;
	position: relative;
	z-index: 3;
	padding-bottom: 0;
}

.info {
	margin-top: -$gutter;
}

.infoList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: $gutter;
}

.infoTitle {
	text-transform: uppercase;
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 0.15em;
}

.date {
	// letter-spacing: 0.1em;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.6em;

	@media(min-width: $screen-md) {
		margin-top: 0.4em;
		margin-bottom: 1.2em;
	}
}

.description {
	@media(min-width: $screen-sm) {
		padding-right: $gutter * 2;
	}
}

.title {
	font-size: 3em;
	line-height: 1.1;
	margin-bottom: 0.35em;
}